---
layout: default
---

		<header role="banner">
			<h2>
				{% include logo.html %}
				<!-- band name -->
				<span>
					See what <strong>real bands</strong> are listenin&rsquo; to.
				</span>
			</h2>
			
			<nav>
				<a href="#menu">Menu</a>
			</nav>

		</header>
		<div class="main c" role="main">

			<h3>All <strong>Listenin&rsquo;to</strong> sessions:</h3>

			<div class="interesting band all no-t">
				{% for post in site.categories.live %}
					
						<h1>{{post.title}}</h1>
						<p>
							from {{ post.band_date }}
						</p>
						<a href="{{post.url}}">What&rsquo;re they digging</a>
					
					{% endfor %}
			</div>

		</div>