---
layout: index
---

{% for post in site.categories.live limit:1 %}
<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title dir="ltr">What {{post.title_prefix}} {{post.title}} listenin&rsquo; to?</title>
    <meta name="description" content="A curated site for music fans who want to know who bands REALLY listen to." />

    {% include headerbit.html %}

  </head>
  <body>

    {% include note.html %}

	   <header role="banner" style="background-image: url(/images/bands/{{post.band_prefix}}/hero.jpg);">

      <h2>
        
        <img src="/images/branding/full-logo-w.svg" class="logo no-click" alt="Listenin&rsquo; logo" />
        
        <span>
        What {{post.title_prefix}} <a href="{{post.band_url}}" target="_blank">{{post.title}}</a> listenin&rsquo; to?
        </span>

      </h2>

      <nav>
        <a href="#menu">Menu</a>
        <!--<a href="/wtf.html">WTF?!?</a>-->
      </nav>

      <small>
      {{post.photo_details}}
      </small>

      <div class="cover"></div>

    </header>

    {% if post.band_logo %}
    <img src="/images/bands/{{post.band_prefix}}/logo.jpg" class="band-logo" />
    {% endif %}

    <div class="main" role="main">

      <h3>First, some background:</h3>
      <h1>{{post.intro}}</h1>

      <div class="interesting">
        
        {{post.content}}

        <aside class="history">
          <h2>Discography</h2>
          <ol>{{post.albums}}</ol>
        </aside>

        <aside class="extras">
          <h2>{{post.fun_fact_title}}</h2>
          {{post.fun_fact}}
        </aside>

        <hr />

      </div>

      {% if post.playlist_desc %}
      <h1 class="center-text">{{post.playlist_title}}</h1>
      <p>{{post.playlist_desc}}</p>
      {% else %}
      <h3>Groovy; but what are you <strong>listenin&rsquo; to</strong>?!?</h3>
      {% endif %}

      {% include subband_home.html %}

    </div>
{% endfor %}