<div class="listenin-to">
				<h3>Groovy; but what are you <strong>listenin&rsquo; to</strong>?!?</h3>

				<!-- band -->
				<div class="interesting pad">
					
					<div class="band t">
						<h1>Band: <strong>Oblivians</strong></h1>
						<img src="images/albums/oblivians.jpg" alt="{cover art}" />
						<img data-src="images/lp.jpg" class="lp" />
						<ul>
							<li>
								This is a longer song name yaknow?
								<span>
									{reason why we dig this song}
								</span>
								<a href="#">on Spotify</a>
							</li>
							<li>
								{song}
								<span>
									{reason why we dig this song}
								</span>
								<a href="#">on Spotify</a>
							</li>
							<li>
								{song}
								<span>
									{reason why we dig this song}
								</span>
								<a href="#">on Spotify</a>
							</li>
						</ul>
						<hr />
						<span class="show-more m">...</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
					</div>

					
					<div class="more">

						<aside class="history">
							<h2>{this band content}</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
						</aside>

						<aside class="extras">
							<h2>{extra content}</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
						</aside>

					</div>

				</div>
				<!--/ band -->

				<!-- band -->
				<div class="interesting pad">
					
					<div class="band t">
						<h1>Band: <strong>Oblivians</strong></h1>
						<img src="images/albums/oblivians.jpg" alt="{cover art}" />
						<img data-src="images/lp.jpg" class="lp" />
						<ul>
							<li>
								This is a longer song name yaknow?
								<span>
									{reason why we dig this song}
								</span>
								<a href="#">on Spotify</a>
							</li>
							<li>
								{song}
								<span>
									{reason why we dig this song}
								</span>
								<a href="#">on Spotify</a>
							</li>
							<li>
								{song}
								<span>
									{reason why we dig this song}
								</span>
								<a href="#">on Spotify</a>
							</li>
						</ul>
						<hr />
						<span class="show-more m">...</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
					</div>
					
					<div class="more">

						<aside class="history">
							<h2>{this band content}</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
						</aside>

						<aside class="extras">
							<h2>{extra content}</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
						</aside>

					</div>

				</div>
				<!--/ band -->

				<!-- band -->
				<div class="interesting pad l cf">
					
					<div class="band t">
						<h1>Band: <strong>Oblivians</strong></h1>
						<img src="images/albums/oblivians.jpg" alt="{cover art}" />
						<img data-src="images/lp.jpg" class="lp" />
						<ul>
							<li>
								This is a longer song name yaknow?
								<span>
									{reason why we dig this song}
								</span>
								<a href="#">on Spotify</a>
							</li>
							<li>
								{song}
								<span>
									{reason why we dig this song}
								</span>
								<a href="#">on Spotify</a>
							</li>
							<li>
								{song}
								<span>
									{reason why we dig this song}
								</span>
								<a href="#">on Spotify</a>
							</li>
						</ul>
						<hr />
						<span class="show-more m">...</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
					</div>
					
					<div class="more">

						<aside class="history">
							<h2>{this band content}</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
						</aside>

						<aside class="extras">
							<h2>{extra content}</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
						</aside>

					</div>

				</div>
				<!--/ band -->

				<a href="#" class="btn">View playlist on Spotify</a>
				<p class="c">or <a href="">save a playlist.txt file</a></p>

			</div>