
        {% for a in page.artists %}
        <!-- band -->
          <div class="interesting pad">
            
            <div class="band t">
              <h1 class="padding{% if a.infourl != null %} more-bot{% endif %}">Artist:
                {% if a.infourl != null %}
                <a href="{{a.infourl}}" target="_blank">
                {% endif %}
                <strong>{{a.name}}</strong>
                {% if a.infourl != null %}
                </a>
                {% endif %}
              </h1>
              {% if a.info != null %}
              <p class="padding">{{a.info}}</p>
              {% endif %}
              {% for i in a.art %}
                <img data-echo="{{site.root_url}}{{i.src}}" src="{{site.root_url}}images/branding/favicon-r-l.png" />
                <noscript><img src="{{site.root_url}}{{i.src}}" /></noscript>
              {% endfor %}
              <ul>
              {% for s in a.songs %} 
                <li class="padding">
                  <strong>{{s.song}}</strong>
                  <span>{{s.info}}</span>
                  <a href="{{s.url}}" target="_blank">Listen now</a>
                </li>
              {% endfor %}
              </ul>
              {% if a.wikiurl %}
              <a href="{{a.infourl}}" target="_blank">
              {% endif %}
            </div>

            
            <!--<div class="more">

              <aside class="history">
                <h2>{this band content}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
              </aside>

              <aside class="extras">
                <h2>{extra content}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
              </aside>

            </div>-->

          </div>
          <!--/ band -->
        {% endfor %}

        <a href="{{page.playlist}}" class="btn mar-t" target="_blank">View playlist on {{page.playlist_site}}</a>