{% for b in site.categories.wmband %}
        {% for a in b.artists %}
        <!-- band -->
          <div class="interesting pad">
            
            <div class="band t">
              <h1>Artist:
                <strong>{{a.name}}</strong>
              </h1>
              {% for i in a.art %}
                <img data-src="{{i.src}}" class="ll" src="/images/branding/favicon-r-l.png" />
                <noscript><img src="{{i.src}}" /></noscript>
              {% endfor %}

              <ul>
              {% for s in a.songs %} 
                <li>
                  <!--Song: <strong>-->{{s.song}}<!--</strong>-->
                  <a href="{{s.url}}" target="_blank">Listen</a>
                </li>
              {% endfor %}
              </ul>
                
                  
                  <!--<span>
                    {reason why we dig this song}
                  </span>
                  <a href="#">on Spotify</a>
                
              </ul>
              <hr />-->
              <!--<span class="show-more m">...</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>-->
            </div>

            
            <!--<div class="more">

              <aside class="history">
                <h2>{this band content}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
              </aside>

              <aside class="extras">
                <h2>{extra content}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aspernatur, quae excepturi voluptates.</p>
              </aside>

            </div>-->

          </div>
          <!--/ band -->
        {% endfor %}

        <a href="{{b.playlist}}" class="btn mar-t" target="_blank">View playlist on {{b.playlist_site}}</a>

      {% endfor %}