@media screen and (min-width:45em){

	p {
		font-size: 110%;
	}

	header h2 {
		vertical-align: middle;
	}
	header h2 span {
		padding: 0 2em;
		font-size: .75em;
	}
	header span a {
		line-height: 1;
		//border-bottom: 3px solid #ff4c00;
	}
	.main, .main.list {
		padding: 3em 0 2em;
	}
	.main h1 {
		font-size: 3em;
		/*width: 120%;
		margin-left: -2.5em;*/
	}

	.band img {
		max-width: 600px;
		margin-left: -50px;
	}
	.band .lp {
		max-width: 580px;
		top: -41em;
		left: 2em;
		margin-left: 0;
		margin-bottom: -37em;
		display: block;
	}
	.band li {
		font-size: 1.5em;
	}
	.band li span {
		font-size: .75em;
	}
	.band a {
		font-size: .6em;
	}
	.band.lg {
		font-size: 1.2em;
	}

	.band-logo {
		max-width: 100px;
		margin-top: -51px;
		box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
	}

	.d {
		display: inline;
	}

	header nav {
		//top: auto;
		//bottom: 1.75em;
		//left: 1em;
		width: auto;
	}
	header nav a {
		font-size: 1em;
		float: none;
	}
	header nav a + a {
		float: none;
		margin-left: 1em;
	}

}

@media screen and (min-width:65em){
	
	header, header iframe, .cover {
		height: 30em;
	}
	.logo {
		display: block;
	}
	.main {
		padding: 3em 0 2em;
	}
	.main h1 {
		font-size: 3.5em;
		width: 170%;
		margin-left: -2.5em;
	}
	.c h1 {
		margin-left: 0;
		width: 100%;
	}
	.band h1 {
		margin-left: 0;
		width: 100%;
	}
	.band li:before {
		font-size: 1em;
		top: 0;
	}
	.band .lp {
		max-width: 600px;
		top: -37.5em;
		left: 5em;
	}

	.interesting {
		position: relative;
	}
	.show-more {
		display: none;
	}
	.more {
		display: block;
	}
	.history, .extras {
		position: absolute;
		left: -15em;
		top: 0;
		max-width: 11em;
		display: block;
		z-index: 2;
	}
	.more .history + .extras {
		padding-top: 0;
	}
	.extras {
		left: auto;
		right: -15em;
	}

	.pad .extras, .pad .history {
		top: 9em;
	}

}

@media screen and (min-width:70em){

	.history, .extras {
		left: -17em;
	}
	.extras {
		left: auto;
		right: -17em;
	}

}

@media screen and (min-width:60em) and (min-height:50em){
	header, header iframe, .cover {
		height: 35em;
	}
}

@media screen and (min-width:60em) and (min-height:60em){
	header, header iframe, .cover {
		height: 40em;
	}
}

@media print {
	* {
		font: normal 100%/1.5 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
		color: #040407 !important;
	}
	body {
		page-break-before: always;
	}
	@page {
		margin: 1cm .5cm;
	}
	header, .add, .right, .linky {
		display: none !important;
	}
	.hide {
		height: auto !important;
	}
	.list {
		border: 0 !important;
	}
	.list h2 {
		font-size: 30pt !important;
	}
}