<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title dir="ltr">
      {% if page.path contains '_posts' %}
      What {{page.title_prefix}} {{page.title}} listenin&rsquo; to?
      {% else %}
      {% if page.url == '/bands.html' %}
      See what real bands are listenin&rsquo; to.
      {% endif %}
      {% if page.url == '/wtf.html' %}
      Just WTF is Listenin&rsquo; to?
      {% endif %}
      What are bands REALLY listenin&rsquo; to?
      {% endif %}
    </title>
    <meta name="description" content="{{page.bio}}" />

    {% include headerbit.html %}

  </head>
  <body>

    {% if page.url != '/wtf.html' %}
    {% include note.html %}
    {% endif %}

    {{ content }}
    
    <script>if(document.body.scrollTop<1){(function(e){var d=e.document;if(!location.hash&&e.addEventListener){window.scrollTo(0,1);var c=1,b=function(){return e.pageYOffset||d.compatMode==="CSS1Compat"&&d.documentElement.scrollTop||d.body.scrollTop||0},a=setInterval(function(){if(d.body){clearInterval(a);c=b();e.scrollTo(0,c===1?0:1)}},15);e.addEventListener("load",function(){setTimeout(function(){if(b()<20){e.scrollTo(0,c===1?0:1)}},0)})}})(this);}</script>
    <!--<script type="text/javascript" src="/javascripts/lt.min.js" async></script>-->

    <footer class="main" id="menu">
      <nav>
        {% if page.url != '/index.html' %}
        <span{% if page.path contains '_posts' %} class="d"{% endif %}>
          <a href="/">Current</a>
        </span>
        {% endif %}
        {% if page.url != '/bands.html' %}
        <span>
          <a href="/bands.html">All bands</a>
        </span>
        {% endif %}
        {% if page.url != '/wtf.html' %}
        <span>
          <a href="/wtf.html">WTF?!?</a>
        </span>
        {% endif %}
        <span class="d">
          <a href="mailto:howdy@listeninto.us">Suggest<span class="d"> a Band</span></a>
        </span>
      </nav>

      <a href="/"><img src="/images/branding/logo.svg" alt="Listenin&rsquo; logo" class="logo" /></a>

      <h4>&copy; 2014 jefff.co</h4>
    </footer>

    {% include js.html %}

  </body>
</html>