<!doctype html>
<html lang="en-us" class="{% if page.url == '/index.html' %}{% endif %}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title dir="ltr">What are {{ page.title }} listenin&rsquo; to?</title>
    <meta name="description" content="{{page.bio}}" />

    <!-- filament group loadCSS for ajax CSS loading -->
    <script>
      function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
      loadCSS('/stylesheets/lt.min.css');
    </script>

    <noscript>
      <link rel="stylesheet" media="screen" href="/stylesheets/lt.min.css" />
    </noscript>    

    <meta name="mobile-web-app-capable" content="yes" />

    <script>
      document.addEventListener("touchstart", function() {},false);
    </script>

  </head>
  <body>

    {{ content }}
    
    <script>if(document.body.scrollTop<1){(function(e){var d=e.document;if(!location.hash&&e.addEventListener){window.scrollTo(0,1);var c=1,b=function(){return e.pageYOffset||d.compatMode==="CSS1Compat"&&d.documentElement.scrollTop||d.body.scrollTop||0},a=setInterval(function(){if(d.body){clearInterval(a);c=b();e.scrollTo(0,c===1?0:1)}},15);e.addEventListener("load",function(){setTimeout(function(){if(b()<20){e.scrollTo(0,c===1?0:1)}},0)})}})(this);}</script>
    <!--<script type="text/javascript" src="/javascripts/lt.min.js" async></script>-->

  </body>
</html>