    {{ content }}
    
    <script>if(document.body.scrollTop<1){(function(e){var d=e.document;if(!location.hash&&e.addEventListener){window.scrollTo(0,1);var c=1,b=function(){return e.pageYOffset||d.compatMode==="CSS1Compat"&&d.documentElement.scrollTop||d.body.scrollTop||0},a=setInterval(function(){if(d.body){clearInterval(a);c=b();e.scrollTo(0,c===1?0:1)}},15);e.addEventListener("load",function(){setTimeout(function(){if(b()<20){e.scrollTo(0,c===1?0:1)}},0)})}})(this);}</script>
    <!--<script type="text/javascript" src="{{site.root_url}}javascripts/lt.min.js" async></script>-->

    <footer class="main" id="menu">
      <nav>
        <span>
          <a href="{{site.root_url}}bands.html">All bands</a>
        </span>
        <span>
          <a href="{{site.root_url}}wtf.html">WTF?!?</a>
        </span>
        <span class="d">
          <a href="mailto:the.jeffdoan@gmail.com">Suggest<span class="d"> a Band</span></a>
        </span>
        <a href="#" class="top">Top</a>
      </nav>

      <img src="{{site.root_url}}images/branding/full-logo.svg" class="logo no-click" />

      <h4>&copy; 2016 jefff.co</h4>
    </footer>

    {% include js.html %}

  </body>
</html>