---
layout: default
---

			<header role="banner" style="background-image: url(/images/bands/{{page.band_prefix}}/hero.jpg);">

		      <h2>
		        
		        {% include logo.html %}
		        
		        <span>
		        What {{page.title_prefix}} <a href="{{page.band_url}}" target="_blank">{{page.title}}</a> listenin&rsquo; to?
		        </span>

		      </h2>

		      <nav>
		        <a href="#menu">Menu</a>
		        <!--<a href="/wtf.html">WTF?!?</a>-->
		      </nav>

		      <small>
		      {{page.photo_details}}
		      </small>

		      <div class="cover"></div>

		    </header>

		    {% if page.band_logo %}
		    <img src="/images/bands/{{page.band_prefix}}/logo.jpg" class="band-logo" />
		    {% endif %}

		    <div class="main" role="main">

		      <h3>First, a bit of background:</h3>
		      <h1>{{page.intro}}</h1>

		      <div class="interesting">
		        
		        {{ content }}

		        <aside class="history">
		          <h2>Discography</h2>
		          <ol>{{page.albums}}</ol>
		        </aside>

		        <aside class="extras">
		          <h2>{{page.fun_fact_title}}</h2>
		          {{page.fun_fact}}
		        </aside>

		        <hr />

		      </div>

		      {% include subband.html %}

		    </div>